<style>
    .slideshow-wrapper {
        display: flex;
    }

    .slideshow-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .slideshow-container img {
        width: 100%; /* Forces image to fill width */
        height: 100%; /* Forces image to fill height */
        object-fit: cover; /* Scales image to fill container without white space */
    }
</style>

<div id="footer-wrapper" class="page">
    <div class="slideshow-wrapper">
        {% assign folderNames = "russian-culture,blood" | split: "," %}
        {% for folderName in folderNames %}
            <div class="slideshow-container">
                {% for image in site.static_files %}
                    {% assign folderPath = "/assets/images/" | append: folderName | append: "/" %}
                    {% if image.path contains folderPath %}
                        {% assign slides = '<div class="' | append: folderName | append: '-slides fade"><img src="' | append: image.path | append: '" style="width:100%"></div>' %}
                        {% if folderName == "blood" %}
                            {{ slides }}
                        {% else %}
                            {% if page.data_source %}
                                {% if image.path contains page.data_source %}
                                    {{ slides }}
                                {% endif %}
                            {% else %}
                                {{ slides }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <h3>Ukraine is struggling against Russian imperialism and colonialism right now!</h3>
    <a href="https://savelife.in.ua/en/donate-en/">Make a donation to Ukrainian Army (Come Back Alive)</a>
    <br>
    <a href="https://u24.gov.ua/">Make a humanitarian donation (United 24)</a>
</div>

<script>
  document.getElementById("main").appendChild(document.getElementById("footer-wrapper"));
  showSlides("russian-culture", 0);
  showSlides("blood", 0);

  function showSlides(folderName, slideIndex) {
    let slides = document.getElementsByClassName(folderName + "-slides");
    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1; }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 1500, folderName, slideIndex);
  }
</script>